[project]
	description = continuous integration and continuous delivery
[access]
	inheritFrom = All-Projects
[label "Workflow"]
	function = MaxWithBlock
	value = -1 You shall not pass!
	value =  0 No score
	value = +1 Approved
	defaultValue = 0
[access "refs/*"]
	owner = group user/jenkins-attcomdev
	create = group attcomdev-projectbootstrap
	create = group attcomdev-releasemanagers
	forgeAuthor = group Registered Users
	forgeCommitter = group attcomdev-projectbootstrap
	push = +force group attcomdev-projectbootstrap
	pushMerge = group attcomdev-projectbootstrap
	viewDrafts = group attcomdev-projectbootstrap
	editTopicName = group attcomdev-projectbootstrap
	deleteDrafts = group attcomdev-projectbootstrap
	publishDrafts = group attcomdev-projectbootstrap
[access "refs/for/refs/*"]
	read = group user/jenkins-attcomdev
	push = group Registered Users
	rebase = group Registered Users
	rebase = group user/jenkins-attcomdev
	removeReviewer = group user/jenkins-attcomdev
	submit = group user/jenkins-attcomdev
[access "refs/heads/*"]
	read = group user/jenkins-attcomdev
	create = group user/jenkins-attcomdev
	push = +force group user/jenkins-attcomdev
	pushMerge = group user/jenkins-attcomdev
	label-Code-Review = -2..+2 group attcomdev-projectbootstrap
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -2..+2 group attcomdev-ci-tool
	label-Verified = -2..+2 group attcomdev-projectbootstrap
	label-Workflow = -1..+1 group attcomdev-ci-tool
	label-Workflow = -1..+1 group attcomdev-projectbootstrap
[access "refs/tags/*"]
	push = group user/jenkins-attcomdev
	push = +force group user/jenkins-attcomdev
