---
schema: pegleg/SoftwareVersions/v1
metadata:
  schema: metadata/Document/v1
  name: software-versions
  layeringDefinition:
    abstract: false
    layer: global
  labels:
    name: software-versions-global
  storagePolicy: cleartext
  substitutions:
    - src:
        schema: nc/CorridorConfig/v1
        name: corridor-config
        path: .artifactory.hostnames.artifacts
      dest:
        - path: .charts
          pattern: ARTIFACTS_DOMAIN
          recurse:
            depth: -1
        - path: .files.kubelet
          pattern: ARTIFACTS_DOMAIN
          recurse:
            depth: -1
        - path: .packages.repositories
          pattern: ARTIFACTS_DOMAIN
          recurse:
            depth: -1
        - path: .kernel_drivers
          pattern: ARTIFACTS_DOMAIN
          recurse:
            depth: -1
    - src:
        schema: nc/CorridorConfig/v1
        name: corridor-config
        path: .artifactory.hostnames.docker-open
      dest:
        - path: .images
          pattern: DOCKER_OPEN_DOMAIN
          recurse:
            depth: -1
    - src:
        schema: nc/CorridorConfig/v1
        name: corridor-config
        path: .artifactory.hostnames.docker-open
      dest:
        - path: .validation
          pattern: DOCKER_OPEN_DOMAIN
          recurse:
            depth: -1
    - src:
        schema: nc/CorridorConfig/v1
        name: corridor-config
        path: .artifactory.hostnames.docker
      dest:
        path: .images
        pattern: DOCKER_DOMAIN
        recurse:
          depth: -1
data:
  charts:
    kubernetes:
      apiserver:
        type: tar
        location: {{ chart_apiserver }}
        subpath: apiserver
      apiserver-htk:
        type: tar
        location: {{ chart_apiserver }}
        subpath: apiserver/charts/helm-toolkit
      calico:
        calico:
          type: tar
          location: {{ chart_calico }}
          subpath: calico
        calico-htk:
          location: {{ chart_calico }}
          subpath: calico/charts/helm-toolkit
          type: tar
        etcd:
          location: {{ chart_etcd }}
          subpath: etcd
          type: tar
        etcd-htk:
          location: {{ chart_etcd }}
          subpath: etcd/charts/helm-toolkit
          type: tar
      controller-manager:
        location: {{ chart_controller_manager }}
        subpath: controller_manager
        type: tar
      controller-manager-htk:
        location: {{ chart_controller_manager }}
        subpath: controller_manager/charts/helm-toolkit
        type: tar
      coredns:
        location: {{ chart_coredns }}
        subpath: coredns
        type: tar
      coredns-htk:
        location: {{ chart_coredns }}
        subpath: coredns/charts/helm-toolkit
        type: tar
      etcd:
        location: {{ chart_etcd }}
        subpath: etcd
        type: tar
      etcd-htk:
        location: {{ chart_etcd }}
        subpath: etcd/charts/helm-toolkit
        type: tar
      haproxy:
        location: {{ chart_haproxy }}
        subpath: haproxy
        type: tar
      haproxy-htk:
        location: {{ chart_haproxy }}
        subpath: haproxy/charts/helm-toolkit
        type: tar
      ingress:
        location: {{ chart_ingress }}
        subpath: ingress
        type: tar
      ingress-htk:
        location: {{ chart_ingress }}
        subpath: ingress/charts/helm-toolkit
        type: tar
      proxy:
        type: tar
        location: {{ chart_proxy }}
        subpath: proxy
      proxy-htk:
        type: tar
        location: {{ chart_proxy }}
        subpath: proxy/charts/helm-toolkit
      falco:
        type: tar
        location: {{ chart_falco }}
        subpath: falco
      falco-htk:
        type: tar
        location: {{ chart_falco }}
        subpath: falco/charts/helm-toolkit
      scheduler:
        type: tar
        location: {{ chart_scheduler }}
        subpath: scheduler
      scheduler-htk:
        type: tar
        location: {{ chart_scheduler }}
        subpath: scheduler/charts/helm-toolkit
    osh:
      barbican:
        type: tar
        location: {{ chart_barbican }}
        subpath: barbican
      cinder:
        location: {{ chart_cinder }}
        subpath: cinder
        type: tar
      glance:
        location: {{ chart_glance }}
        subpath: glance
        type: tar
      heat:
        location: {{ chart_heat }}
        subpath: heat
        type: tar
      helm_toolkit:
        location: {{ chart_helm_toolkit }}
        subpath: helm-toolkit
        type: tar
      horizon:
        location: {{ chart_horizon }}
        subpath: horizon
        type: tar
      ingress:
        location: {{ chart_ingress }}
        subpath: ingress
        type: tar
      keystone:
        location: {{ chart_keystone }}
        subpath: keystone
        type: tar
      libvirt:
        location: {{ chart_libvirt }}
        subpath: libvirt
        type: tar
      mariadb:
        location: {{ chart_mariadb }}
        subpath: mariadb
        type: tar
      mariadb-htk:
        location: {{ chart_mariadb }}
        subpath: mariadb/charts/helm-toolkit
        type: tar
      memcached:
        location: {{ chart_memcached }}
        subpath: memcached
        type: tar
      neutron:
        location: {{ chart_neutron }}
        subpath: neutron
        type: tar
      nova:
        location: {{ chart_nova }}
        subpath: nova
        type: tar
      openvswitch:
        type: tar
        location: https://ARTIFACTS_DOMAIN/artifactory/openstack-helm-infra-local/openstack-helm-infra/openvswitch-a5aeab344b36.a5aeab344b36.tgz
        subpath: openvswitch
        # pinning this to old versions as config needs to be updated to take
        # https://git.openstack.org/cgit/openstack/openstack-helm/commit/?id=896fc6b8d2f7dc6e976595220d3c4827c914f9e0
      openvswitch-htk:
        type: tar
        location: https://ARTIFACTS_DOMAIN/artifactory/openstack-helm-infra-local/openstack-helm-infra/openvswitch-a5aeab344b36.a5aeab344b36.tgz
        subpath: openvswitch/charts/helm-toolkit
        # pinning this to old versions as config needs to be updated to take
        # https://git.openstack.org/cgit/openstack/openstack-helm/commit/?id=896fc6b8d2f7dc6e976595220d3c4827c914f9e0
      rabbitmq:
        location: {{ chart_rabbitmq }}
        subpath: rabbitmq
        type: tar
    osh_addons:
      ranger:
        type: tar
        location: {{ chart_ranger }}
        subpath: ranger
      ranger-agent:
        type: tar
        location: {{ chart_ranger_agent }}
        subpath: ranger-agent
      helm_toolkit:
        type: tar
        location: {{ chart_ranger_agent }}
        subpath: ranger-agent/charts/helm-toolkit
      sonobuoy:
        type: tar
        location: {{ chart_sonobuoy }}
        subpath: sonobuoy
      sonobuoy-htk:
        type: tar
        location: {{ chart_sonobuoy }}
        subpath: sonobuoy/charts/helm-toolkit
      ingress:
        type: tar
        location: {{ chart_ingress }}
        subpath: ingress
      ingress-htk:
        type: tar
        location: {{ chart_ingress }}
        subpath: ingress/charts/helm-toolkit
      mariadb:
        type: tar
        location: {{ chart_mariadb }}
        subpath: mariadb
      mariadb-htk:
        type: tar
        location: {{ chart_mariadb }}
        subpath: mariadb/charts/helm-toolkit
    ro:
      helm_toolkit:
        type: tar
        location: {{ chart_ro }}
        subpath: ro/charts/helm-toolkit
      ro_inventory_notifier:
        type: tar
        location: {{ chart_ro }}
        subpath: ro
    osh_infra:
      elasticsearch:
        location: {{ chart_elasticsearch }}
        subpath: elasticsearch
        type: tar
      elasticsearch_htk:
        location: {{ chart_elasticsearch }}
        subpath: elasticsearch/charts/helm-toolkit
        type: tar
      fluent_logging:
        location: {{ chart_fluent_logging }}
        subpath: fluent-logging
        type: tar
      grafana:
        location: {{ chart_grafana }}
        subpath: grafana
        type: tar
      helm_toolkit:
        location: {{ chart_helm_toolkit }}
        subpath: helm-toolkit
        type: tar
      kibana:
        location: {{ chart_kibana }}
        subpath: kibana
        type: tar
      nagios:
        location: {{ chart_nagios }}
        subpath: nagios
        type: tar
      podsecuritypolicy:
        location: {{ chart_podsecuritypolicy }}
        subpath: podsecuritypolicy
        type: tar
      prometheus:
        location: {{ chart_prometheus }}
        subpath: prometheus
        type: tar
      prometheus_kube_state_metrics:
        location: {{ chart_prometheus_kube_state_metrics }}
        subpath: prometheus-kube-state-metrics
        type: tar
      prometheus_node_exporter:
        location: {{ chart_prometheus_node_exporter }}
        subpath: prometheus-node-exporter
        type: tar
      prometheus_process_exporter:
        location: {{ chart_prometheus_process_exporter }}
        subpath: prometheus-process-exporter
        type: tar
      prometheus_openstack_exporter:
        location: {{ chart_prometheus_openstack_exporter }}
        subpath: prometheus-openstack-exporter
        type: tar
      ceph-rgw:
        type: tar
        location: {{ chart_ceph_rgw }}
        subpath: ceph-rgw
    ucp:
      apiserver-webhook:
        type: tar
        location: {{ chart_apiserver_webhook }}
        subpath: apiserver-webhook
      apiserver-webhook-htk:
        type: tar
        location: {{ chart_apiserver_webhook }}
        subpath: apiserver-webhook/charts/helm-toolkit
      armada:
        location: {{ chart_armada }}
        subpath: armada
        type: tar
      armada-htk:
        location: {{ chart_armada }}
        subpath: armada/charts/helm-toolkit
        type: tar
      barbican:
        location: {{ chart_barbican }}
        subpath: barbican
        type: tar
      barbican-htk:
        location: {{ chart_barbican }}
        subpath: barbican/charts/helm-toolkit
        type: tar
      ceph-mon:
        location: {{ chart_ceph_mon }}
        subpath: ceph-mon
        type: tar
      ceph-osd:
        location: {{ chart_ceph_osd }}
        subpath: ceph-osd
        type: tar
      ceph-client:
        location: {{ chart_ceph_client }}
        subpath: ceph-client
        type: tar
      ceph-provisioners:
        location: {{ chart_ceph_provisioners }}
        subpath: ceph-provisioners
        type: tar
      ceph-rgw:
        location: {{ chart_ceph_rgw }}
        subpath: ceph-rgw
        type: tar
      ceph-htk:
        type: tar
        location: {{ chart_ceph_rgw }}
        subpath: ceph-rgw/charts/helm-toolkit
      tenant-ceph-mon:
        type: tar
        location: {{ chart_ceph_mon }}
        subpath: ceph-mon
      tenant-ceph-osd:
        type: tar
        location: {{ chart_ceph_osd }}
        subpath: ceph-osd
      tenant-ceph-client:
        type: tar
        location: {{ chart_ceph_client }}
        subpath: ceph-client
      tenant-ceph-provisioners:
        type: tar
        location: {{ chart_ceph_provisioners }}
        subpath: ceph-provisioners
      tenant-ceph-rgw:
        type: tar
        location: {{ chart_ceph_rgw }}
        subpath: ceph-rgw
      tenant-ceph-htk:
        type: tar
        location: {{ chart_ceph_rgw }}
        subpath: ceph-rgw/charts/helm-toolkit
      deckhand:
        location: {{ chart_deckhand }}
        subpath: deckhand
        type: tar
      deckhand-htk:
        location: {{ chart_deckhand }}
        subpath: deckhand/charts/helm-toolkit
        type: tar
      divingbell:
        location: {{ chart_divingbell }}
        subpath: divingbell
        type: tar
      divingbell-htk:
        location:  {{ chart_divingbell }}
        subpath: divingbell/charts/helm-toolkit
        type: tar
      drydock:
        type: tar
        location: https://ARTIFACTS_DOMAIN/artifactory/airship-helm-local/airship/drydock/drydock-54ea0e1374dd.42249d4243d8.tgz
        subpath: drydock
      drydock-htk:
        type: tar
        location: https://ARTIFACTS_DOMAIN/artifactory/airship-helm-local/airship/drydock/drydock-54ea0e1374dd.42249d4243d8.tgz
        subpath: drydock/charts/helm-toolkit
      ingress:
        location: {{ chart_ingress }}
        subpath: ingress
        type: tar
      ingress-htk:
        location: {{ chart_ingress }}
        subpath: ingress/charts/helm-toolkit
        type: tar
      keystone:
        location: {{ chart_keystone }}
        subpath: keystone
        type: tar
      keystone-htk:
        location: {{ chart_keystone }}
        subpath: keystone/charts/helm-toolkit
        type: tar
      #Blacklist: chart_maas
      maas:
        type: tar
        location: https://ARTIFACTS_DOMAIN/artifactory/helm-charts/airship/maas/maas-79db1a1811b1.b30012a61676.tgz
        subpath: maas
      maas-htk:
        type: tar
        location: https://ARTIFACTS_DOMAIN/artifactory/helm-charts/airship/maas/maas-79db1a1811b1.b30012a61676.tgz
        subpath: maas/charts/helm-toolkit
      mariadb:
        location: {{ chart_mariadb }}
        subpath: mariadb
        type: tar
      mariadb-htk:
        location: {{ chart_mariadb }}
        subpath: mariadb/charts/helm-toolkit
        type: tar
      memcached:
        location: {{ chart_memcached }}
        subpath: memcached
        type: tar
      memcached-htk:
        location: {{ chart_memcached }}
        subpath: memcached/charts/helm-toolkit
        type: tar
      postgresql:
        location: {{ chart_postgresql }}
        subpath: postgresql
        type: tar
      postgresql-htk:
        location: {{ chart_postgresql }}
        subpath: postgresql/charts/helm-toolkit
        type: tar
      promenade:
        location: {{ chart_promenade }}
        subpath: promenade
        type: tar
      promenade-htk:
        location: {{ chart_promenade }}
        subpath: promenade/charts/helm-toolkit
        type: tar
      rabbitmq:
        location: {{ chart_rabbitmq }}
        subpath: rabbitmq
        type: tar
      rabbitmq-htk:
        location: {{ chart_rabbitmq }}
        subpath: rabbitmq/charts/helm-toolkit
        type: tar
      shipyard:
        location: {{ chart_shipyard }}
        subpath: shipyard
        type: tar
      shipyard-htk:
        location: {{ chart_shipyard }}
        subpath: shipyard/charts/helm-toolkit
        type: tar
      tiller:
        location: {{ chart_tiller }}
        subpath: tiller
        type: tar
      tiller-htk:
        location: {{ chart_tiller }}
        subpath: tiller/charts/helm-toolkit
        type: tar
    gs_tools:
      helm_toolkit:
        type: tar
        location: {{ chart_gstools_deploy_allmid }}
        subpath: gstools-deploy-allmid/charts/helm-toolkit
      allmid:
        type: tar
        location: {{ chart_gstools_deploy_allmid }}
        subpath: gstools-deploy-allmid
      attlogins:
        type: tar
        location: {{ chart_gstools_deploy_attlogins }}
        subpath: gstools-deploy-attlogins
      attnologin:
        type: tar
        location: {{ chart_gstools_deploy_attnologin }}
        subpath: gstools-deploy-attnologin
      attradius:
        type: tar
        location: {{ chart_gstools_deploy_attradius }}
        subpath: gstools-deploy-attradius
      attsudo:
        type: tar
        location: {{ chart_gstools_deploy_attsudo }}
        subpath: gstools-deploy-attsudo
      eksh:
        type: tar
        location: {{ chart_gstools_deploy_eksh }}
        subpath: gstools-deploy-eksh
      mcafee:
        type: tar
        location: {{ chart_gstools_deploy_mcafee }}
        subpath: gstools-deploy-mcafee
      sact:
        type: tar
        location: {{ chart_gstools_deploy_sact }}
        subpath: gstools-deploy-sact
      sensage:
        type: tar
        location: {{ chart_gstools_deploy_sensage }}
        subpath: gstools-deploy-sensage
      uam:
        type: tar
        location: {{ chart_gstools_deploy_uam }}
        subpath: gstools-deploy-uam
      uamroles:
        type: tar
        location: {{ chart_gstools_deploy_uamroles }}
        subpath: gstools-deploy-uamroles
      xpw:
        type: tar
        location: {{ chart_gstools_deploy_xpw }}
        subpath: gstools-deploy-xpw
    artifactory:
      mariadb:
        type: tar
        location: {{ chart_mariadb }}
        subpath: mariadb
      mariadb-htk:
        type: tar
        location: {{ chart_mariadb }}
        subpath: mariadb/charts/helm-toolkit
      artifactory:
        proxy_server: http://one.proxy.att.com:8888
        type: git
        location: https://git.openstack.org/openstack/openstack-helm-addons
        subpath: artifactory
        reference: d2026c1326d1f9dc17ebc6178a848e6b17289566
      artifactory-htk:
        proxy_server: http://one.proxy.att.com:8888
        type: git
        location: https://git.openstack.org/openstack/openstack-helm
        subpath: helm-toolkit
        reference: e9ff3afd7ab50e004b84581782ce2f77d605dd5a
    jenkins:
      type: tar
      location: {{ chart_jenkins }}
      subpath: jenkins
    jenkins-htk:
      type: tar
      location:  {{ chart_jenkins }}
      subpath: jenkins/charts/helm-toolkit
    artifactory-ha:
      artifactory-ha-htk:
        type: tar
        location: {{ chart_artifactory_ha }}
        subpath: artifactory-ha/charts/helm-toolkit
      artifactory-ha:
        type: tar
        location: {{ chart_artifactory_ha }}
        subpath: artifactory-ha
      mariadb:
        type: tar
        location: {{ chart_mariadb }}
        subpath: mariadb
      helm_toolkit:
        type: tar
        location: {{ chart_mariadb }}
        subpath: mariadb/charts/helm-toolkit
    mission-control:
      mission-control:
        type: tar
        location: {{ chart_mission_control }}
        subpath: mission-control
      mongodb:
        type: tar
        location: {{ chart_mongodb }}
        subpath: mongodb
      elasticsearch:
        type: tar
        location: {{ chart_mongodb }}
        subpath: mission-control/charts/elasticsearch
    distribution:
      distribution:
        type: tar
        location: {{ chart_distribution }}
        subpath: distribution
      postgresql:
        type: tar
        location: {{ chart_postgresql }}
        subpath: postgresql
    xray:
      xray:
        type: tar
        location: {{ chart_xray }}
        subpath: xray
      postgresql:
        type: tar
        location: {{ chart_postgresql }}
        subpath: postgresql
      mongodb:
        type: tar
        location: {{ chart_mongodb }}
        subpath: mongodb
      rabbitmq-ha:
        type: tar
        location: {{ chart_rabbitmq_ha }}
        subpath: rabbitmq-ha
    radosgw:
      helm_toolkit:
        type: tar
        location: {{ chart_ceph_rgw }}
        subpath: ceph-rgw/charts/helm-toolkit
      ceph-rgw:
        location: {{ chart_ceph_rgw }}
        subpath: ceph-rgw
        type: tar
    misc:
      gs_tools:
        allmid:
          version: "4.31.3"
        mcafee:
          file: "ENSL-Ubuntu-10.2.3.tar.gz"
          version: "ENSL-Ubuntu-10.2.3"
        sact:
          version: "2018-11-01"
  files:
    kubelet: https://DOCKER_OPEN_DOMAIN/artifactory/k8s.io/v1.10.2/kubernetes-node-linux-amd64.tar.gz

  images_refs:
    images:
      #{{ comment_airflow }}
      airflow: &airflow {{ image_airflow }}
      #{{ comment_armada }}
      armada: &armada {{ image_armada }}
      # DOCKER_OPEN_DOMAIN/openstack/ocata/loci/community/barbican:a910386871e499125fe1d80b06ca6cb82d14d611
      barbican: &barbican DOCKER_OPEN_DOMAIN/openstack/ocata/loci/community/barbican@sha256:9eb91b07b68eff9a655a94e16b9e4d55d89c8c181f52359f45a6fa36f537f65e
      # upstream-local/calico/node:v3.2.1.2018-09-28_03-55-28
      calico_node: &calico_node DOCKER_OPEN_DOMAIN/upstream-local/calico/node@sha256:d0804622191f11e83ff7d167670a752e43a672ad6c94dee3d1c76020baa2d0c0
      # upstream-local/calico/cni:v3.2.1.2018-09-28_03-54-29
      calico_cni: &calico_cni DOCKER_OPEN_DOMAIN/upstream-local/calico/cni@sha256:ad855b83bc9b50c0afb5fff490cf473658c0bda940c24a7ce234095c54f12549
      # upstream-local/calico/ctl:release-v3.2-amd64.2018-09-28_03-54-48
      calico_ctl: &calico_ctl DOCKER_OPEN_DOMAIN/upstream-local/calico/ctl@sha256:300920058a3563c8f62a057ccea9f498eb242701f2f972500a9c14d01a3985e5
      # upstream-local/calico/kube-controllers:v3.2.1.2018-09-28_03-55-07
      calico_kube_controllers: &calico_kube_controllers DOCKER_OPEN_DOMAIN/upstream-local/calico/kube-controllers@sha256:e4ce2dd941ceb41a956c282d9cf83d50a38bde38cf86e5bc2ba60bbb02b4f454
      #0.1.1
      ceph_cephfs_provisioner: &ceph_cephfs_provisioner DOCKER_OPEN_DOMAIN/upstream-local/external_storage/cephfs-provisioner@sha256:fe443a463caed291af24798f09f896095d9eda2f873fd5f767134c4acb41fd84
      # ceph/daemon:tag-build-master-luminous-ubuntu-16.04
      ceph_daemon: &ceph_daemon DOCKER_OPEN_DOMAIN/ceph/daemon/ceph-daemon@sha256:b3bedf6e2860fc6c0cb81e9d2fcd9aff9ae35424fe8d9c90e499116cfa2a961e
      coredns: &coredns DOCKER_OPEN_DOMAIN/coredns/coredns@sha256:ab8aec91742937058f6b307efbd411ba8b49c5392a757431b00fda4bdd4fa588
      #5.2.0
      curator: &curator DOCKER_OPEN_DOMAIN/upstream-local/bobrik/curator@sha256:ab2fae9cd522a56207719529fe865be819307799963f1a8eb955f1d6f64a018d
      #{{ comment_deckhand }}
      deckhand: &deckhand {{ image_deckhand }}
      dep_check: &dep_check DOCKER_OPEN_DOMAIN/stackanetes/kubernetes-entrypoint@sha256:32b1b657ee4bcc9cc7a1529e31d8e1a06376172373ee020f97f3e78168fde4b6
      divingbell: &divingbell DOCKER_OPEN_DOMAIN/ubuntu@sha256:b050c1822d37a4463c01ceda24d0fc4c679b0dd3c43e742730e2884d3c582e3a
      #DOCKER_OPEN_DOMAIN/airship/drydock:9625febab6807f72d1ba0b44f9311dcff658389e.2018-10-02_07-14-33
      drydock: &drydock {{ image_drydock }}
      #5.6.4
      elasticsearch: &elasticsearch DOCKER_OPEN_DOMAIN/upstream-local/srwilkers/elasticsearch-s3@sha256:f71cb66ffffa5161db9f3f3f5576c1b772feed61ac095e80371bc1b4bfd95a9e
      #etcd 3.2.18
      etcd: &etcd DOCKER_OPEN_DOMAIN/coreos/etcd@sha256:1f433f387d7d0ff283e9abfdd493a461175bee0c372deca68c5633eb7ce7ee56
      # falco 0.12.1
      falco: &falco DOCKER_OPEN_DOMAIN/sysdig/falco:0.12.1
      #0.14.2
      fluentbit: &fluentbit DOCKER_OPEN_DOMAIN/upstream-local/fluent/fluent-bit@sha256:dfc565088a8c22e91fe93763aa4f6fd3e40787fe2107b5d794982fc0a8726f7a
      # fluent/fluentd-kubernetes-daemonset:v1.2-debian-elasticsearch
      fluentd: &fluentd DOCKER_OPEN_DOMAIN/upstream-local/fluent/fluentd-kubernetes-daemonset@sha256:cb5c3efecef1dd88ccafe2d916d59d520c308950e310d5a38cf0948a9e26c6ee
      grafana: &grafana DOCKER_OPEN_DOMAIN/upstream-local/grafana/grafana@sha256:55d64e2a56928f48556cf265992999dadc490cbf4b3f85c53cd04b416a482df1
      haproxy: &haproxy DOCKER_OPEN_DOMAIN/haproxy@sha256:60e73060dcee0655baae00f19d772ed623cce481d33a43acbf6d9658569db1f2
      # kubernetes-helm/tiller:v2.10.0
      helm: &helm DOCKER_OPEN_DOMAIN/lachlanevenson/k8s-helm@sha256:db320754d34424588e64ae3f238f76748f325919ccef95c2c46efd2cd0d085db
      #2.4
      httpd: &httpd DOCKER_OPEN_DOMAIN/upstream-local/httpd@sha256:832019e803b28bdc7b95b39044cdf5f2a7ff835ebdc0a6c69210d0e1bc225131
      #DOCKER_OPEN_DOMAIN/google_containers/hyperkube-amd64:v1.11.6
      hyperkube_amd64: &hyperkube_amd64 DOCKER_OPEN_DOMAIN/google_containers/hyperkube-amd64@sha256:5180871c02a14d745d4dcdd85f63449aa95fe004b114478ae95d97cd98cb990c
      #upstream-local/docker:17.07.0.2018-08-24_11-44-40
      image_repo_sync: &image_repo_sync DOCKER_OPEN_DOMAIN/upstream-local/docker@sha256:9ab81227d2fc49f34e62c54f7e3d03164add16ae424e53ded3ef19f6509f079b
      ingress_controller: &ingress_controller DOCKER_OPEN_DOMAIN/upstream-local/kubernetes-ingress-controller/nginx-ingress-controller@sha256:97bbe36d965aedce82f744669d2f78d2e4564c43809d43e80111cecebcb952d0
      ingress_controller_mariadb: &ingress_controller_mariadb DOCKER_OPEN_DOMAIN/upstream-local/kubernetes-ingress-controller/nginx-ingress-controller@sha256:7b93d845782d924941734c81a8760641b1d4ea6bb6961a7559678e79c9b50bd8

      # 1.0
      ingress_module_init: &ingress_module_init DOCKER_DOMAIN/openstack/ocata/loci/mos/mos-neutron@sha256:faf630220091d35347e120c4187bab5acfa16b0d716e3def9ca8f69e2d16afa4
      ingress_routed_vip: &ingress_routed_vip DOCKER_DOMAIN/openstack/ocata/loci/mos/mos-neutron@sha256:faf630220091d35347e120c4187bab5acfa16b0d716e3def9ca8f69e2d16afa4
      ingress_error_pages: &ingress_error_pages DOCKER_OPEN_DOMAIN/google_containers/defaultbackend@sha256:ee3aa1187023d0197e3277833f19d9ef7df26cee805fef32663e06c7412239f9
      ingress_vip: &ingress_vip DOCKER_OPEN_DOMAIN/upstream-local/busybox@sha256:915f390a8912e16d4beb8689720a17348f3f6d1a7b659697df850ab625ea29d5
      # docker.io/k8scloudprovider/k8s-keystone-auth:v.0.3.0
      k8s-keystone-auth: &k8s-keystone-auth DOCKER_OPEN_DOMAIN/upstream-local/k8scloudprovider/k8s-keystone-auth@sha256:be79d7769eff6f98cd83f1711dc6c365ca0bcce14b940c0224d5d19347386a71
      #5.6.4
      kibana: &kibana DOCKER_OPEN_DOMAIN/upstream-local/kibana@sha256:76384e058244f717df18b5b10e707bf1cc2922fe8db7a313392d03a5d086285a
      kube_state_metrics: &kube_state_metrics DOCKER_OPEN_DOMAIN/upstream-local/bitnami/kube-state-metrics@sha256:961a22984ab4789d6f59d71ba0f86bb0430789cfabd930dbc2452000a914f7a6
      # DOCKER_OPEN_DOMAIN/openstackhelm/libvirt:ubuntu-xenial-1.3.1-1ubuntu10.24
      libvirt: &libvirt DOCKER_OPEN_DOMAIN/upstream-local/openstackhelm/libvirt@sha256:a259183008f12f95b4b1d3003976812349268181f61f6b6005a959557c7653c3
      #DOCKER_OPEN_DOMAIN/upstream-local/openstackhelm/mariadb:10.2.18.2018-11-16_03-47-24
      mariadb_db: &mariadb_db DOCKER_OPEN_DOMAIN/upstream-local/openstackhelm/mariadb@sha256:e4fe4898baac370f56d781541456d32aa0f8c740f18d5b13882a86e80a6a67bb
      # maas-rack commit ade83aaf8de9c6f9dfa190b930681b96a5464935723cd26af679587b6f0f4a43
      maas_rack_controller: &maas_rack_controller DOCKER_OPEN_DOMAIN/airship/maas-rack-controller@sha256:ade83aaf8de9c6f9dfa190b930681b96a5464935723cd26af679587b6f0f4a43
      # commit 7f50e96ff37cbfd95611066eded6a715509b4e7e
      maas_region_controller: &maas_region_controller DOCKER_OPEN_DOMAIN/upstream-local/airshipit/maas-region-controller@sha256:6adf71b02312023d47c98f87e62807618b313fba69727dd9d0bb19d3f0b129ff
      # upstream-local/memcached:1.5.5.2018-08-22_05-53-50
      memcached: &memcached DOCKER_OPEN_DOMAIN/upstream-local/memcached@sha256:0b8e866753119c1fce440f34796232b3fff25d027bd7448bcdc7d016d99620bb
      #{{ comment_mos_cinder }}
      mos_cinder: &mos_cinder {{ image_mos_cinder }}
      #{{ comment_mos_glance }}
      mos_glance: &mos_glance {{ image_mos_glance }}
      #{{ comment_mos_heat }}
      mos_heat: &mos_heat {{ image_mos_heat }}
      #{{ comment_mos_heat }}
      mos_heat_ucp: &mos_heat_ucp {{ image_mos_heat }}
      #{{ comment_mos_horizon }}
      mos_horizon: &mos_horizon {{ image_mos_horizon }}
      #{{ comment_mos_keystone }}
      mos_keystone: &mos_keystone {{ image_mos_keystone }}
      #{{ comment_mos_keystone }}
      mos_keystone_ucp: &mos_keystone_ucp {{ image_mos_keystone }}
      #{{ comment_mos_neutron }}
      mos_neutron: &mos_neutron {{ image_mos_neutron }}
      #{{ comment_mos_neutron_sriov }}
      mos_neutron_sriov: &mos_neutron_sriov {{ image_mos_neutron_sriov }}
      #{{ comment_mos_nova_1804 }}
      mos_nova_1804: &mos_nova_1804 {{ image_mos_nova_1804 }}
      #{{ comment_mos_nova }}
      mos_nova: &mos_nova {{ image_mos_nova }}
      nagios: &nagios DOCKER_OPEN_DOMAIN/upstream-local/attcomdev/nagios@sha256:453cbcaeaf34346245a6f5a75f016922e0ef517523db825400ead37c90c49fd7
      #581cc18613b55359f232b96c243e38829b64492e.2019-02-01_12-14-10
      node_exporter: &node_exporter DOCKER_OPEN_DOMAIN/upstream-local/prom/node-exporter@sha256:99f83aec108ef52eb6e889e27e10fee2baf5c88386861c8c78efe43489b35977
      #{{ comment_ro }}
      nc_ro: &nc_ro {{ image_ro }}
      # upstream-local/kolla/ubuntu-source-nova-novncproxy:3.0.3.2018-08-22_05-54-52
      nova_novncproxy: &nova_novncproxy DOCKER_OPEN_DOMAIN/upstream-local/kolla/ubuntu-source-nova-novncproxy@sha256:9ffea1efb130db964946168357ac1218784239553e4c2f772edfc5e6ac1f5fc6
      # upstream-local/kolla/ubuntu-source-nova-spicehtml5proxy:3.0.3.2018-08-22_05-55-19
      nova_spiceproxy: &nova_spiceproxy DOCKER_OPEN_DOMAIN/upstream-local/kolla/ubuntu-source-nova-spicehtml5proxy@sha256:abae94ff186a182cc51a156c6bc49a683984c4dfbf17f6bdfc4ff49acbc31f39
      # upstream-local/openstackhelm/openvswitch:v2.8.1.2018-08-24_11-31-33
      openvswitch: &openvswitch DOCKER_OPEN_DOMAIN/upstream-local/openstackhelm/openvswitch@sha256:0f399e299e7be5b15f5dee78cb56bf13369d055084eb592a63c50845ff61b4df
      #openstack/ocata/loci/community/barbican:a910386871e499125fe1d80b06ca6cb82d14d611
      osh_barbican: &osh_barbican DOCKER_OPEN_DOMAIN/openstack/ocata/loci/community/barbican@sha256:9eb91b07b68eff9a655a94e16b9e4d55d89c8c181f52359f45a6fa36f537f65e
      pause_amd64: &pause_amd64 DOCKER_OPEN_DOMAIN/google_containers/pause-amd64@sha256:59eec8837a4d942cc19a52b8c09ea75121acc38114a2c68b98983ce9356b8610
      process_exporter: &process_exporter DOCKER_OPEN_DOMAIN/ncabatoff/process-exporter:0.2.11
      # postgres 9.5
      postgres: &postgres DOCKER_OPEN_DOMAIN/postgres@sha256:0b137e3455847b43071ac411b29280bb2b81535e497ff9a11a99f55addef0b77
      #{{ comment_promenade }}
      promenade: &promenade {{ image_promenade }}
      #v2.3.2
      prometheus: &prometheus DOCKER_OPEN_DOMAIN/upstream-local/prom/prometheus@sha256:7d99455a045a6c89c0dbee6e1fe659eb83bd3a19e171606bc0fd10eb0e34a7dc
      #1.0.1
      prometheus_elasticsearch_exporter: &prometheus_elasticsearch_exporter DOCKER_OPEN_DOMAIN/upstream-local/justwatch/elasticsearch_exporter@sha256:d846ee80e06df2aa2630dbb716bfe03adc7e5d14c5b6bf7957790281c58154d3
      #0.1
      prometheus_fluentd_exporter: &prometheus_fluentd_exporter DOCKER_OPEN_DOMAIN/upstream-local/srwilkers/fluentd_exporter@sha256:77f10270fe1b654c64358f2ec29bc42c1d7bb214764b672c6d32232002ea42f3
      #prom/memcached-exporter:v0.4.1
      prometheus_memcached_exporter: &prometheus_memcached_exporter DOCKER_OPEN_DOMAIN/prom/memcached-exporter@sha256:a91fbb7842da5c4de897779b2867c0579c78d0c541974e41febbe6b84cde072a
      #upstream-local/prom/mysqld-exporter:v0.10.0.2018-08-24_11-40-24
      prometheus_mysql_exporter: &prometheus_mysql_exporter DOCKER_OPEN_DOMAIN/upstream-local/prom/mysqld-exporter:v0.10.0@sha256:35c56fa7e3ef6b8cf2c2e83570a412200761f928caacc2a1431b707273970a1a
      prometheus_openstack_exporter: &prometheus_openstack_exporter DOCKER_OPEN_DOMAIN/att-comdev/prometheus-openstack-exporter@sha256:682bdbbea503746a1ed95f54393c77610cda6a8621846abde599afc382bf6c22
      prometheus_postgresql_exporter: &prometheus_postgresql_exporter DOCKER_OPEN_DOMAIN/upstream-local/wrouesnel/postgres_exporter@sha256:e74ae327a4b9e3670c065873cc5f0af8503dd12d284193de8fc4e4bcb380cf91
      # postgres 9.5
      prometheus_postgresql_exporter_create_user: &prometheus_postgresql_exporter_create_user DOCKER_OPEN_DOMAIN/postgres@sha256:0b137e3455847b43071ac411b29280bb2b81535e497ff9a11a99f55addef0b77
      python: &python DOCKER_OPEN_DOMAIN/haproxy@sha256:60e73060dcee0655baae00f19d772ed623cce481d33a43acbf6d9658569db1f2
      # upstream-local/rabbitmq:3.7-management.2018-08-22_03-59-54
      rabbitmq: &rabbitmq DOCKER_OPEN_DOMAIN/upstream-local/rabbitmq@sha256:e6756e58d44d48dd3b5b03726df887cc4fe6909e2364798fd0a472a63d84f608
      # docker.io/rabbitmq:3.7.4
      rabbitmq_ucp: &rabbitmq_ucp DOCKER_OPEN_DOMAIN/rabbitmq@sha256:3e5065721ab3a1f2ae3ab2ec2213420050d445e18fc8dc62803e9c30330d64fe
      # upstream-local/kbudde/rabbitmq-exporter:v0.21.0.2018-08-24_11-41-03
      rabbitmq_exporter: &rabbitmq_exporter DOCKER_OPEN_DOMAIN/upstream-local/kbudde/rabbitmq-exporter@sha256:1c972d2282b3eff886c316b85628f458846913b45909d60b00984f0128ddbce8
      # upstream-local/kolla/ubuntu-source-rally:4.0.0.2018-08-23_11-31-29
      rally_test: &rally_test DOCKER_OPEN_DOMAIN/upstream-local/xrally/xrally-openstack@sha256:ea5023ea12bbe7de0982143281591caec6a2f0dd2ce3bb8edc64192b4160338c
      ranger: &ranger DOCKER_OPEN_DOMAIN/upstream-local/attcomdev/nagios@sha256:453cbcaeaf34346245a6f5a75f016922e0ef517523db825400ead37c90c49fd7
      #external_storage/rbd-provisioner:v0.1.1
      rbd_provisioner: &rbd_provisioner DOCKER_OPEN_DOMAIN/upstream-local/external_storage/rbd-provisioner@sha256:cd42073d66062ebe484354369e186e4af7e60dc8819b1aecf1523e9140021874
      #{{ comment_shipyard }}
      shipyard: &shipyard {{ image_shipyard }}
      # airship/sstream-cache:9c2686bea7e5cb4907c929913af7d7fee8136bcb.2018-09-18_02-35-43
      sstream_cache: &sstream_cache {{ image_sstream_cache }}
      #1.10.2
      storage_init: &storage_init DOCKER_OPEN_DOMAIN/port/ceph-config-helper@sha256:010b18e74862dae00713ddac03dbbc82c583d1742830a2285fdc69f089b7e7f0
      #0.12.14
      tenant_ceph_fluentbit: &tenant_ceph_fluentbit DOCKER_OPEN_DOMAIN/upstream-local/fluent/fluent-bit@sha256:c419d5d6dc60ae2c731cf026fdd25039e90a37f7f62650228e29a3ca1d6cd806
      # tiller:v2.12.1
      tiller: &tiller DOCKER_OPEN_DOMAIN/kubernetes-helm/tiller@sha256:3060d5de6614e96adf540c10528929a056b1a7751e781beff4cc00d2e47e114c

    keystone: &ref_keystone
      ks_endpoints: *mos_heat
      ks_service: *mos_heat
      ks_user: *mos_heat

  images:
    ucp:
      armada:
        # git 03b4c0ee2a687370c35a5cd7a21cdb498ae6679e.2018-09-21_08-18-19
        api: *armada
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        ks_endpoints: *mos_heat_ucp
        ks_service: *mos_heat_ucp
        ks_user: *mos_heat_ucp
        image_repo_sync: *image_repo_sync
        helm: *helm
        # gcr.io/kubernetes-helm/tiller:v2.10.1
        tiller: *tiller
      promenade:
        promenade: *promenade
        ks_user: *mos_heat_ucp
        ks_service: *mos_heat_ucp
        ks_endpoints: *mos_heat_ucp
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
      deckhand:
        # git 0ac33c233d59a731bf289db23ec4a882ff359168
        deckhand: *deckhand
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        db_init: *postgres
        db_sync: *deckhand
        ks_endpoints: *mos_heat_ucp
        ks_service: *mos_heat_ucp
        ks_user: *mos_heat_ucp
      barbican:
        bootstrap: *mos_heat_ucp
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        scripted_test: *mos_heat_ucp
        db_init: *mos_heat_ucp
        barbican_db_sync: *barbican
        db_drop: *mos_heat_ucp
        ks_endpoints: *mos_heat_ucp
        ks_service: *mos_heat_ucp
        ks_user: *mos_heat_ucp
        barbican_api: *barbican
        # docker.io/rabbitmq:3.7-management
        rabbit_init: *rabbitmq
      divingbell:
        # docker.io/ubuntu:16.04
        divingbell: *divingbell
      drydock:
        # git 7b6af1bdc9bdc8e8084dd825598100f9e1db163b
        drydock: *drydock
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        ks_user: *mos_heat_ucp
        ks_service: *mos_heat_ucp
        ks_endpoints: *mos_heat_ucp
        # docker.io/postgres:9.5
        drydock_db_init: *postgres
        drydock_db_sync: *drydock
      ingress:
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        entrypoint: *dep_check
        # quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.9.0
        ingress: *ingress_controller
        ingress_module_init: *ingress_module_init
        ingress_routed_vip: *ingress_routed_vip
        # gcr.io/google_containers/defaultbackend:1.0
        error_pages: *ingress_error_pages
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
      shipyard:
        airflow: *airflow
        shipyard: *shipyard
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/postgres:9.5
        shipyard_db_init: *postgres
        shipyard_db_sync: *shipyard
        airflow_db_init: *postgres
        airflow_db_sync: *airflow
        ks_user: *mos_heat_ucp
        ks_service: *mos_heat_ucp
        ks_endpoints: *mos_heat_ucp
        image_repo_sync: *image_repo_sync
      maas:
        # docker.io/postgres:9.5
        db_init: *postgres
        #  airship/maas-region-controller:cdfb1737da21bbb097113a6aaeaae37117038781.2018-10-18_05-17-23
        db_sync: *maas_region_controller
        maas_rack: *maas_rack_controller
        maas_region: *maas_region_controller
        bootstrap: *maas_region_controller
        export_api_key: *maas_region_controller
        maas_cache: *sstream_cache
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        ingress: *ingress_controller
        ingress_vip: *ingress_vip
        error_pages: *ingress_error_pages
        error_pages: *ingress_error_pages
      keystone:
        bootstrap: *mos_heat_ucp
        # docker.io/kolla/ubuntu-source-rally:4.0.0
        test: *rally_test
        db_init: *mos_heat_ucp
        keystone_db_sync: *mos_keystone_ucp
        db_drop: *mos_heat_ucp
        ks_user: *mos_heat_ucp
        keystone_fernet_setup: *mos_keystone_ucp
        keystone_fernet_rotate: *mos_keystone_ucp
        keystone_credential_setup: *mos_keystone_ucp
        keystone_credential_rotate: *mos_keystone_ucp
        keystone_api: *mos_keystone_ucp
        keystone_domain_manage: *mos_keystone_ucp
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/rabbitmq:3.7-management
        rabbit_init: *rabbitmq
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
      tiller:
        # gcr.io/kubernetes-helm/tiller:v2.10.1
        tiller: *tiller
      mariadb:
        mariadb: *mariadb_db
        # quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.9.0
        ingress: *ingress_controller_mariadb
        # gcr.io/google_containers/defaultbackend:1.0
        error_pages: *ingress_error_pages
        # docker.io/mariadb:10.2.13
        prometheus_create_mysql_user: *mariadb_db
        # docker.io/prom/mysqld-exporter:v0.10.0
        prometheus_mysql_exporter: *prometheus_mysql_exporter
        prometheus_mysql_exporter_helm_tests: *mos_heat_ucp
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
      postgresql:
        # docker.io/postgres:9.5
        postgresql: *postgres
        prometheus_postgresql_exporter: *prometheus_postgresql_exporter
        # docker.io/postgres:9.5
        prometheus_postgresql_exporter_create_user: *prometheus_postgresql_exporter_create_user
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
      memcached:
        # docker.io/memcached:1.5.5
        memcached: *memcached
        # docker.io/prom/memcached-exporter:v0.4.1
        prometheus_memcached_exporter: *prometheus_memcached_exporter
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
      rabbitmq:
        # docker.io/kbudde/rabbitmq-exporter:v0.21.0
        prometheus_rabbitmq_exporter: *rabbitmq_exporter
        prometheus_rabbitmq_exporter_helm_tests: *mos_heat_ucp
        # docker.io/rabbitmq:3.7.4
        rabbitmq: *rabbitmq_ucp
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/rabbitmq:3.7.4-management
        scripted_test: *rabbitmq
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
    osh:
      memcached:
        dep_check: *dep_check
        memcached: *memcached
        prometheus_memcached_exporter: *prometheus_memcached_exporter
        image_repo_sync: *image_repo_sync
      barbican:
        bootstrap: *mos_heat
        dep_check: *dep_check
        scripted_test: *mos_heat
        db_init: *mos_heat
        barbican_db_sync: *osh_barbican
        db_drop: *mos_heat
        <<: *ref_keystone
        barbican_api: *osh_barbican
        rabbit_init: *rabbitmq
      cinder:
        test: *rally_test
        db_init: *mos_heat
        cinder_db_sync: *mos_cinder
        db_drop: *mos_heat
        <<: *ref_keystone
        cinder_api: *mos_cinder
        bootstrap: *mos_heat
        cinder_scheduler: *mos_cinder
        cinder_volume: *mos_cinder
        cinder_volume_usage_audit: *mos_cinder
        cinder_storage_init: *storage_init
        cinder_backup: *mos_cinder
        cinder_backup_storage_init: *storage_init
        dep_check: *dep_check
        rabbit_init: *rabbitmq
      glance:
        test: *rally_test
        glance_storage_init: *storage_init
        db_init: *mos_heat
        glance_db_sync: *mos_glance
        db_drop: *mos_heat
        <<: *ref_keystone
        glance_api: *mos_glance
        glance_registry: *mos_glance
        # Bootstrap image requires curl
        bootstrap: *mos_heat
        dep_check: *dep_check
        rabbit_init: *rabbitmq
      heat:
        test: *rally_test
        bootstrap: *mos_heat
        db_init: *mos_heat
        heat_db_sync: *mos_heat
        db_drop: *mos_heat
        <<: *ref_keystone
        heat_api: *mos_heat
        heat_cfn: *mos_heat
        heat_cloudwatch: *mos_heat
        heat_engine: *mos_heat
        heat_engine_cleaner: *mos_heat
        dep_check: *dep_check
        rabbit_init: *rabbitmq
      horizon:
        db_init: *mos_heat
        horizon_db_sync: *mos_horizon
        db_drop: *mos_heat
        horizon: *mos_horizon
        dep_check: *dep_check
      ingress:
        entrypoint: *dep_check
        ingress: *ingress_controller
        ingress_module_init: *ingress_module_init
        ingress_routed_vip: *ingress_routed_vip
        error_pages: *ingress_error_pages
        dep_check: *dep_check
      keystone:
        bootstrap: *mos_heat
        test: *rally_test
        db_init: *mos_heat
        keystone_db_sync: *mos_keystone
        db_drop: *mos_heat
        <<: *ref_keystone
        keystone_fernet_setup: *mos_keystone
        keystone_fernet_rotate: *mos_keystone
        keystone_credential_setup: *mos_keystone
        keystone_credential_rotate: *mos_keystone
        keystone_api: *mos_keystone
        keystone_domain_manage: *mos_keystone
        dep_check: *dep_check
        rabbit_init: *rabbitmq
      libvirt:
        libvirt: *libvirt
        dep_check: *dep_check
      mariadb:
        mariadb: *mariadb_db
        ingress: *ingress_controller_mariadb
        error_pages: *ingress_error_pages
        prometheus_create_mysql_user: *mariadb_db
        prometheus_mysql_exporter: *prometheus_mysql_exporter
        prometheus_mysql_exporter_helm_tests: *mos_heat
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      neutron:
        bootstrap: *mos_heat
        test: *rally_test
        db_init: *mos_heat
        neutron_db_sync: *mos_neutron
        db_drop: *mos_heat
        <<: *ref_keystone
        neutron_server: *mos_neutron
        neutron_dhcp: *mos_neutron
        neutron_metadata: *mos_neutron
        neutron_l3: *mos_neutron
        neutron_openvswitch_agent: *mos_neutron
        neutron_linuxbridge_agent: *mos_neutron
        neutron_sriov_agent: *mos_neutron_sriov
        neutron_sriov_agent_init: *mos_neutron_sriov
        dep_check: *dep_check
        rabbit_init: *rabbitmq
      nova:
        bootstrap: *mos_heat
        db_drop: *mos_heat
        db_init: *mos_heat
        dep_check: *dep_check
        <<: *ref_keystone
        nova_api: *mos_nova
        nova_cell_setup: *mos_nova
        nova_cell_setup_init: *mos_heat
        nova_compute: *mos_nova_1804
        nova_compute_ssh: *mos_nova
        nova_conductor: *mos_nova
        nova_consoleauth: *mos_nova
        nova_db_sync: *mos_nova
        nova_novncproxy: *mos_nova
        nova_novncproxy_assets: *nova_novncproxy
        nova_placement: *mos_nova
        nova_scheduler: *mos_nova
        nova_service_cleaner: *storage_init
        nova_spiceproxy: *mos_nova
        nova_spiceproxy_assets: *nova_spiceproxy
        test: *rally_test
        rabbit_init: *rabbitmq
      openvswitch:
        openvswitch_db_server: *openvswitch
        openvswitch_vswitchd: *openvswitch
        dep_check: *dep_check
      rabbitmq:
        prometheus_rabbitmq_exporter: *rabbitmq_exporter
        prometheus_rabbitmq_exporter_helm_tests: *mos_heat
        rabbitmq: DOCKER_OPEN_DOMAIN/rabbitmq@sha256:cc7015cf1084fa0a18b356cc38e254e2633770c78c60a6f8d86d5dbe79034f4d
        dep_check: *dep_check
        scripted_test: DOCKER_OPEN_DOMAIN/rabbitmq@sha256:eb4e4c2b4d8cfac4d142c090d52d02d107aacbe2faf7d3895a2e5bd44c097fdb
    osh_infra:
      elasticsearch:
        apache_proxy: *httpd
        memory_init: *mos_heat
        curator:  *curator
        elasticsearch: *elasticsearch
        ceph_key_placement: *storage_init
        s3_bucket: *ceph_daemon
        s3_user: *storage_init
        helm_tests: *mos_heat
        prometheus_elasticsearch_exporter: *prometheus_elasticsearch_exporter
        dep_check: *dep_check
        snapshot_repository: *mos_heat
        image_repo_sync: *image_repo_sync
      fluent_logging:
        fluentbit: *fluentbit
        fluentd: *fluentd
        prometheus_fluentd_exporter: *prometheus_fluentd_exporter
        dep_check: *dep_check
        helm_tests: *mos_heat
        elasticsearch_template: *mos_heat
        image_repo_sync: *image_repo_sync
      kibana:
        apache_proxy: *httpd
        kibana: *kibana
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      prometheus:
        apache_proxy: *httpd
        prometheus: *prometheus
        helm_tests: *mos_heat
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      prometheus_node_exporter:
       #v0.15.0
        node_exporter: *node_exporter
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      prometheus_process_exporter:
        process_exporter: *process_exporter
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      prometheus_kube_state_metrics:
      #1.3.1
        kube_state_metrics: *kube_state_metrics
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      prometheus_openstack_exporter:
        prometheus_openstack_exporter: *prometheus_openstack_exporter
        dep_check:  *dep_check
        image_repo_sync: *image_repo_sync
        <<: *ref_keystone
      grafana:
      #5.0.0
        grafana: *grafana
        dep_check:  *dep_check
        db_init: *mos_heat
        grafana_db_session_sync: *mos_heat
        image_repo_sync: *image_repo_sync
        helm_tests: *mos_heat
      nagios:
        apache_proxy: *httpd
        nagios: *nagios
        dep_check:  *dep_check
        image_repo_sync: *image_repo_sync
    osh_addons:
      ranger:
        ranger: *ranger
        ranger_db_sync: *ranger
        db_drop: *mos_heat
        db_init: *mos_heat
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
        scripted_test: *mos_heat
      ranger-agent:
        #{{ comment_ranger_agent }}
        ranger_agent: {{ image_ranger_agent }}
        ranger-agent_db_sync: {{ image_ranger_agent }}
        db_drop: *mos_heat
        db_init: *mos_heat
        ks_user: *mos_heat
        ks_service: *mos_heat
        ks_endpoints: *mos_heat
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
        rabbit_init: *rabbitmq
        scripted_test: *mos_heat
      sonobuoy:
        #{{ comment_sonobuoy }}
        sonobuoy: {{ image_sonobuoy }}
        sonobuoy_host_info: *sonobuoy_host_info
      ingress:
        entrypoint: *dep_check
        ingress: *ingress_controller
        ingress_module_init: *ingress_module_init
        ingress_routed_vip: *ingress_routed_vip
        error_pages: *ingress_error_pages
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      mariadb:
        mariadb: *mariadb_db
        ingress: *ingress_controller_mariadb
        error_pages: *ingress_error_pages
        prometheus_create_mysql_user: *mariadb_db
        prometheus_mysql_exporter: *prometheus_mysql_exporter
        prometheus_mysql_exporter_helm_tests: *mos_heat
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
    ceph:
      ceph-mon:
        fluentbit: *fluentbit
        ceph_bootstrap: *ceph_daemon
        ceph_config_helper: *storage_init
        ceph_mon: *ceph_daemon
        ceph_mon_check: *storage_init
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      ceph-osd:
        fluentbit: *fluentbit
        ceph_osd: *ceph_daemon
        ceph_bootstrap: *ceph_daemon
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      ceph-client:
        ceph_bootstrap: *ceph_daemon
        ceph_config_helper: *storage_init
        ceph_mds: *ceph_daemon
        ceph_mgr: *ceph_daemon
        ceph_rbd_pool: *storage_init
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      ceph-provisioners:
        ceph_bootstrap: *ceph_daemon
        ceph_cephfs_provisioner: *ceph_cephfs_provisioner
        ceph_config_helper: *storage_init
        ceph_rbd_provisioner: *rbd_provisioner
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      ceph-rgw:
        ceph_config_helper: *storage_init
        ceph_rgw: *ceph_daemon
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
        rgw_s3_admin: *storage_init
        <<: *ref_keystone
      tenant-ceph-mon:
        fluentbit: *tenant_ceph_fluentbit
        ceph_bootstrap: *ceph_daemon
        ceph_config_helper: *storage_init
        ceph_mon: *ceph_daemon
        ceph_mon_check: *storage_init
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      tenant-ceph-osd:
        fluentbit: *tenant_ceph_fluentbit
        ceph_osd: *ceph_daemon
        ceph_bootstrap: *ceph_daemon
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      tenant-ceph-client:
        ceph_bootstrap: *ceph_daemon
        ceph_config_helper: *storage_init
        ceph_mds: *ceph_daemon
        ceph_mgr: *ceph_daemon
        ceph_rbd_pool: *storage_init
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      tenant-ceph-provisioners:
        ceph_bootstrap: *ceph_daemon
        ceph_cephfs_provisioner: *ceph_cephfs_provisioner
        ceph_config_helper: *storage_init
        ceph_rbd_provisioner: *rbd_provisioner
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      tenant-ceph-rgw:
        ceph_config_helper: *storage_init
        ceph_rgw: *ceph_daemon
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
        rgw_s3_admin: *storage_init
        <<: *ref_keystone
    kubernetes:
      apiserver:
        # gcr.io/google_containers/hyperkube-amd64:v1.10.2
        anchor: *hyperkube_amd64
        apiserver: *hyperkube_amd64
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
      controller-manager:
        # gcr.io/google_containers/hyperkube-amd64:v1.10.2
        anchor: *hyperkube_amd64
        controller_manager: *hyperkube_amd64
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
      coredns:
        # docker.io/coredns/coredns:1.1.2
        coredns: *coredns
        test: *coredns
      haproxy:
        # docker.io/haproxy:1.8.3
        haproxy: *haproxy
        # gcr.io/google_containers/hyperkube-amd64:v1.10.2
        anchor: *hyperkube_amd64
        # docker.io/python:3.6
        test: *python
      etcd:
        # quay.io/coreos/etcd:v3.2.14
        etcd: *etcd
        etcdctl: *etcd
      ingress:
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        entrypoint: *dep_check
        # quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.9.0
        ingress: *ingress_controller
        # gcr.io/google_containers/defaultbackend:1.0
        error_pages: *ingress_error_pages
        ingress_module_init: *ingress_module_init
        ingress_routed_vip: *ingress_routed_vip
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync

      # gcr.io/google_containers/hyperkube-amd64:v1.10.2
      kubectl: *hyperkube_amd64
      # gcr.io/google_containers/pause-amd64:3.1
      pause: *pause_amd64

      scheduler:
        # gcr.io/google_containers/hyperkube-amd64:v1.10.2
        anchor: *hyperkube_amd64
        scheduler: *hyperkube_amd64
      proxy:
        # gcr.io/google_containers/hyperkube-amd64:v1.10.2
        proxy: *hyperkube_amd64
      falco:
        # docker.io/sysdig/falco:0.12.1
        falco: *falco
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
    calico:
      etcd:
        etcd: *etcd
        etcdctl: *etcd
      calico:
        calico_etcd: *etcd
        # upstream-local/calico/node:v3.2.1.2018-09-28_03-55-28
        calico_node: *calico_node
        # upstream-local/calico/cni:v3.2.1.2018-09-28_03-54-29
        calico_cni: *calico_cni
        # upstream-local/calico/ctl:release-v3.2-amd64.2018-09-28_03-54-48
        calico_ctl: *calico_ctl
        calico_settings: *calico_ctl
        # upstream-local/calico/kube-controllers:v3.2.1.2018-09-28_03-55-07
        calico_kube_controllers: *calico_kube_controllers
        # quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
        dep_check: *dep_check
        # docker.io/docker:17.07.0
        image_repo_sync: *image_repo_sync
    ro:
      ro_inventory_notifier:
        dep_check: *dep_check
        ks_user: *mos_heat
        rabbit_init: {{ image_ro }}
        db_init: {{ image_ro }}
        api: {{ image_ro }}
        image_repo_sync: *image_repo_sync
    gs_tools:
      #{{ comment_allmid }}
      allmid: {{ image_allmid }}
      #{{ comment_attlogins }}
      attlogins: {{ image_attlogins }}
      #{{ comment_attnologin }}
      attnologin: {{ image_attnologin }}
      #{{ comment_attradius }}
      attradius: {{ image_attradius }}
      #{{ comment_attsudo }}
      attsudo: {{ image_attsudo }}
      #{{ comment_bpa }}
      bpa: {{ image_bpa }}
      #{{ comment_eksh }}
      eksh: {{ image_eksh }}
      #{{ comment_mcafee }}
      mcafee: {{ image_mcafee }}
      #{{ comment_sact }}
      sact: {{ image_sact }}
      #{{ comment_sensage }}
      sensage: {{ image_sensage }}
      #{{ comment_uam }}
      uam: {{ image_uam }}
      #{{ comment_uamroles }}
      uamroles: {{ image_uamroles }}
      #{{ comment_xpw }}
      xpw: {{ image_xpw }}
    artifactory:
      mariadb:
        mariadb: *mariadb_db
        ingress: *ingress_controller_mariadb
        error_pages: *ingress_error_pages
        prometheus_create_mysql_user: *mariadb_db
        prometheus_mysql_exporter: *prometheus_mysql_exporter
        prometheus_mysql_exporter_helm_tests: *mos_heat
        dep_check: *dep_check
        image_repo_sync: *image_repo_sync
      artifactory:
        db_init: *mos_heat
        db_drop: *mos_heat
        # kubernetes-entrypoint:v0.2.1 (needed for older Artifactory htk)
        dep_check: DOCKER_OPEN_DOMAIN/stackanetes/kubernetes-entrypoint@sha256:80126c7e10af1838207cebce5287253771553a94ca34170a6e59cb2da30f0e04
        # artifactory-pro-mysql:5.9.1
        artifactory: DOCKER_OPEN_DOMAIN/attcomdev/artifactory-pro-mysql@sha256:b3a28cd0f13dba388f245632e571b37977206fe0bb9ae2d471bd9e3e444808d7
    jenkins:
      # jenkins:2.89.4
      jenkins: DOCKER_OPEN_DOMAIN/jenkins/jenkins@sha256:0a95b79f1054fbbc2f58f3ea72c0cf95ce07d0abf71419377de8c42d62e3eed5
      ks_user: *mos_heat
      dep_check: *dep_check

  packages:
    repositories:
        main_archive:
            repo_type: apt
            url: 'https://ARTIFACTS_DOMAIN/artifactory/list/archive-ubuntu/ubuntu'
            distributions:
              - 'xenial'
            components:
              - 'main'
              - 'universe'
              - 'multiverse'
            subrepos:
              - 'security'
              - 'updates'
              - 'backports'
        docker:
            repo_type: apt
            url: https://ARTIFACTS_DOMAIN/artifactory/apt.dockerproject/
            distributions:
              - ubuntu-xenial
            components:
              - main
            gpgkey: |-
              -----BEGIN PGP PUBLIC KEY BLOCK-----

              mQINBFWln24BEADrBl5p99uKh8+rpvqJ48u4eTtjeXAWbslJotmC/CakbNSqOb9o
              ddfzRvGVeJVERt/Q/mlvEqgnyTQy+e6oEYN2Y2kqXceUhXagThnqCoxcEJ3+KM4R
              mYdoe/BJ/J/6rHOjq7Omk24z2qB3RU1uAv57iY5VGw5p45uZB4C4pNNsBJXoCvPn
              TGAs/7IrekFZDDgVraPx/hdiwopQ8NltSfZCyu/jPpWFK28TR8yfVlzYFwibj5WK
              dHM7ZTqlA1tHIG+agyPf3Rae0jPMsHR6q+arXVwMccyOi+ULU0z8mHUJ3iEMIrpT
              X+80KaN/ZjibfsBOCjcfiJSB/acn4nxQQgNZigna32velafhQivsNREFeJpzENiG
              HOoyC6qVeOgKrRiKxzymj0FIMLru/iFF5pSWcBQB7PYlt8J0G80lAcPr6VCiN+4c
              NKv03SdvA69dCOj79PuO9IIvQsJXsSq96HB+TeEmmL+xSdpGtGdCJHHM1fDeCqkZ
              hT+RtBGQL2SEdWjxbF43oQopocT8cHvyX6Zaltn0svoGs+wX3Z/H6/8P5anog43U
              65c0A+64Jj00rNDr8j31izhtQMRo892kGeQAaaxg4Pz6HnS7hRC+cOMHUU4HA7iM
              zHrouAdYeTZeZEQOA7SxtCME9ZnGwe2grxPXh/U/80WJGkzLFNcTKdv+rwARAQAB
              tDdEb2NrZXIgUmVsZWFzZSBUb29sIChyZWxlYXNlZG9ja2VyKSA8ZG9ja2VyQGRv
              Y2tlci5jb20+iQI4BBMBAgAiBQJVpZ9uAhsvBgsJCAcDAgYVCAIJCgsEFgIDAQIe
              AQIXgAAKCRD3YiFXLFJgnbRfEAC9Uai7Rv20QIDlDogRzd+Vebg4ahyoUdj0CH+n
              Ak40RIoq6G26u1e+sdgjpCa8jF6vrx+smpgd1HeJdmpahUX0XN3X9f9qU9oj9A4I
              1WDalRWJh+tP5WNv2ySy6AwcP9QnjuBMRTnTK27pk1sEMg9oJHK5p+ts8hlSC4Sl
              uyMKH5NMVy9c+A9yqq9NF6M6d6/ehKfBFFLG9BX+XLBATvf1ZemGVHQusCQebTGv
              0C0V9yqtdPdRWVIEhHxyNHATaVYOafTj/EF0lDxLl6zDT6trRV5n9F1VCEh4Aal8
              L5MxVPcIZVO7NHT2EkQgn8CvWjV3oKl2GopZF8V4XdJRl90U/WDv/6cmfI08GkzD
              YBHhS8ULWRFwGKobsSTyIvnbk4NtKdnTGyTJCQ8+6i52s+C54PiNgfj2ieNn6oOR
              7d+bNCcG1CdOYY+ZXVOcsjl73UYvtJrO0Rl/NpYERkZ5d/tzw4jZ6FCXgggA/Zxc
              jk6Y1ZvIm8Mt8wLRFH9Nww+FVsCtaCXJLP8DlJLASMD9rl5QS9Ku3u7ZNrr5HWXP
              HXITX660jglyshch6CWeiUATqjIAzkEQom/kEnOrvJAtkypRJ59vYQOedZ1sFVEL
              MXg2UCkD/FwojfnVtjzYaTCeGwFQeqzHmM241iuOmBYPeyTY5veF49aBJA1gEJOQ
              TvBR8Q==
              =Fm3p
              -----END PGP PUBLIC KEY BLOCK-----
    named:
      docker: docker-engine=17.03.1~ce-0~ubuntu-xenial
      socat: socat=1.7.3.1-1
    unnamed:
      - ceph-common=10.2.10-0ubuntu0.16.04.1
  kernel_drivers:
    i40e_driver:
      type: tar
      # NOTE: When you update the driver version here, you need to include a MOP step for the
      # NC release to reboot the nodes after the completion of the Shipyard site-update. In
      # the MOP update, you should also link to the following wiki page:
      # https://wiki.web.att.com/display/CCPdev/i40e+Driver+upgrades
      location: https://ARTIFACTS_DOMAIN/artifactory/list/soureforgeie40/i40e/i40e-2.7.12.tar.gz
...
